.tbl_my { background: #ffffff; border: 0pt; border-spacing: 0pt; vertical-align: top;  width: 100%;}
.tbl_header { font-size: 14px;  text-align: left; border-bottom: 1pt solid #EEEEEE; vertical-align: middle; width: 100%; }
.tbl_body { padding-bottom: 5px; padding-top: 5px; font-size: 14px; width: 90%; }
.tbl_footer { font-size: 14px; background: #FFFFFF; text-align: center; border: 0pt; vertical-align: middle; width: 100%;}

.tr_topic { height: 35px; vertical-align: middle}
.tr_body { height: 35px; vertical-align: middle}

.td_caption {padding-left: 30px; text-align: left}
.td_data {text-align: left}

.input_normal { color: #000000; background-color : #FFFFFF; }
.input_need {color: #000000; background-color : #FFCC66; }
.read_only {border : 1px solid  #FFFFFF;}
.toolbar{margin: 2px  2px; padding: 0px  0px; background: transparent; border: none; vertical-align: top;}

