.tbl_my { background: transparent; border: 0pt; border-spacing: 0pt; vertical-align: top;  width: 100%;}
.tbl_header { font-size: 14px;  text-align: center; border-bottom: 1pt solid #EEEEEE; vertical-align: middle; width: 100%; }
.tbl_body { background:#FFFFFF; padding-bottom: 5px; padding-top: 5px; font-size: 14px; width: 100%; }
.tbl_footer { color: #000000; background-image: url(image/bg_footer.png); text-align: center; border: 0pt;  vertical-align: middle; width: 100%}

.tr_topic { height: 30px; vertical-align: middle}
.tr_caption { color: #000000; background-image: url(image/bg_footer.png); height: 25px; vertical-align: middle}

.tr_body_color { background-image: url(image/bg_body.png); background-repeat: repeat-x ; background-position: left bottom; height: 25px; vertical-align: middle; text-align: left}
.tr_body { background:#ECE9D8; height: 25px; vertical-align: middle; text-align: left}
.tr_body_total { color: #000000; background-image: url(image/bg_topic.png); height: 25px; vertical-align: middle; text-align: left}

.toolbar{margin: 2px  2px; padding: 0px  0px; background: transparent; border: none; vertical-align: top;}
.td_ { width: 1%; background:#EEEEEE}
.btd_ {  width: 1%;  background:#EEEEEE}

.tbl_filter { background:#FFFFFF; padding-bottom: 5px; padding-top: 5px; width: 100%; }
.tr_filter { vertical-align: middle}
.td_filter { font-size: 16px; text-align: center; height: 30px; background:#ECE9D8; vertical-align: middle}

.tbl_query_body { background:#FFFFFF; padding-bottom: 5px; padding-top: 5px; font-size: 14px; width: 100%; }
.tr_query_body { background:#ECE9D8; height: 25px; vertical-align: middle}

.td_query_caption {background:#EEEEEE}
.td_query_compare {background:#EEEEEE}
.td_query_value {background:#EEEEEE}

